 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a final year BTech Information Technology student at College of Engineering, Pune (COEP). I am a system programming and embedded programming enthusiast with particular interests in understanding computer architecture concepts and studying about related domains. I have worked on embedded systems during my time at CSAT. Having been involved in the ongoing research in cube satellite systems aimed towards designing CSAT's second satellite has been an exhilirating experience!</p>
                </div>
                <div class="col-lg-4">
                    <p> I have been a part of the COEP <a href="https://www.coep.org.in/csat/" style="color:darkcyan;">Student Satellite Team </a> (CSAT) for a period of almost four years now, and until recently, was the Communication Subsystem lead there. I have internship experience at <a href="https://www.barclays.in/global-service-centre/btci/" style="color:darkcyan;">Barclays Plc</a> and <a href="https://www.promorphosis.com/" style="color:darkcyan;">Promorphosis Pvt Ltd</a>. I have also undertaken the roles of a Marketing and Finance Portfolio Coordinator and an Event Head for <a href="https://www.kaggle.com/c/predict-x-problem-1" style="color:darkcyan;">Predict-X</a> in <a href="https://www.coep.org.in/campus_festivals/mindspark" style="color:darkcyan;">MindSpark</a>, COEP's annual technical fest, and have played for COEP's Football Team B in <a href="https://www.coep.org.in/campus_festivals/zest" style="color:darkcyan;">Zest</a>, it's annual sports fest.</p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Being involved in the ongoing research in<br>cube satellite systems aimed towards<br>designing CSAT's second satellite<br>has been an exhilirating experience!</p>
                </div-->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/open?id=1cGXV1EX9VMSgOzNK-QR1B1VXa3eUJCxB" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
