 <!-- Projects, Internships, Research and Work Experience Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/projects_internships_research_work_experience/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p style="text-align: justify;">{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.duration %}
                                    <li>Duration:
                                        <strong><a style="text-decoration: none;">{{ post.duration }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.domain %}
                                    <li>Domain:
                                        <strong><a style="text-decoration: none;">{{ post.domain }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.link and post.link_another %}
                                    <li>Links:
                                        <strong><a href="{{ post.link }}">GitHub Repository</a>,
                                        </strong>
                                        <strong><a href="{{ post.link_another }}">Firefox Add-on Page</a>
                                        </strong>
                                    </li>
                                {% elsif post.link %}
                                    <li>Link:
                                        <strong><a href="{{ post.link }}">GitHub Repository</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.publication and post.publication_another %}
                                    <li>Publication Links:
                                        <strong><a href="{{ post.publication }}">Abstract 1</a>,
                                        </strong>
                                        <strong><a href="{{ post.publication_another }}">Abstract 2</a>
                                        </strong>
                                    </li>
                                {% elsif post.publication %}
                                    <li>Publication Link:
                                        <strong><a href="{{ post.publication }}">Abstract</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}